# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
*.expo
.expo-dev-cache/
.expo-packager-cache-*
.expo-env.json

# Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.aar
*.iml
local.properties

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcworkspace
project.xcworkspace/

# Mac / Windows cruft
.DS_Store
Thumbs.db

# Env & secrets
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log

# Vercel / Netlify / Deploy
.vercel/
.netlify/